<!DOCTYPE html>
<html>
  <head>
    <title>Pusceiver</title>
    <meta name="viewport" content="user-scalable=no,width=device-width" />
  </head>
  <body>
    <a href="javascript:login()">login</a>

    <form>
      <textarea></textarea>
      <input type="submit" />
    </form>

    <ul id="items">
    </ul>
    
    <script type='text/javascript' src='http://code.jquery.com/jquery-1.9.1.min.js'></script>
    <script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
    <script type='text/javascript' src='https://cdn.firebase.com/v0/firebase-auth-client.js'></script>
    <script type='text/javascript'>
      var rootRef = new Firebase('<%= firebase_url %>');
      var authClient = new FirebaseAuthClient(rootRef, function(error, user) {
        if (error) {
          // an error occurred while attempting login
          console.log(error);
        } else if (user) {
          // user authenticated with Firebase
          console.log('User ID: ' + user.id + ', Provider: ' + user.provider);
          rootRef.on("child_added", function(snapshot, prevChildName) {
            $("#items").prepend($("<li/>").text(snapshot.val()));
          });
        } else {
          // user is logged out
        }
      });
      function login() {
        authClient.login('twitter');
      }
      $("form").submit(function() {
        var $textarea = $(this).find("textarea");
        rootRef.push($textarea.val(), function(error) {
          if (!error) {
            $textarea.val("");
          } else {
            alert(error);
          }
        }).setPriority(Date.now());
        return false;
      });
    </script>
  </body>
</html>
