.show-anon {
   display: none;
}
.hidden-anon {
   display: none;
}

.members span {
   margin-right: 1em;
}

.offline {
   color: darkgray;
}

.room-header {
   height: 25px;
}

.items > li.item {
   min-height: 25px;
}
.item .user { color: darkgray; }
