/* twitter bootstrap, font awsome overrides */
.btn-small { font-size: 14px }

/* common */
.show-anon {
   display: none;
}
.hidden-anon {
   display: none;
}

.members span {
   margin-right: 1em;
}

.offline {
   color: darkgray;
}

.room-header {
   height: 28px;
}

/* items */
ul.items {
   margin-left: 0;
}
.items > li.item {
   list-style: none;
   min-height: 25px;
   margin-bottom: 4px;
   padding: 8px;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
}
.item:hover,.item.active {
   background-color: #eee;
}
.item-menu { height: 26px; }
.item .user { color: darkgray; }
.item .title { margin:0 4px; }
/*.item [href='#item-edit'] {
   position: absolute;
   top: 8px;
   right: 8px;
}*/
.item form { margin: 0; }
/* open/close item */
.item:not(.active) .active-show { display:none; }
.item.active .active-hide { display:none; }
/* show/edit item */
.item:not(.edit) .edit-show { display:none; }
.item.edit .edit-hide { display:none; }
